# Output schema, created by `bundle deploy` so it exists before any job runs.

resources:
  schemas:
    output_schema:
      catalog_name: ${var.catalog}
      name: ${var.schema}
      comment: "{{.data_product_name}} output schema (${var.environment})"
      grants:
        - principal: ${var.permission_group}
          privileges:
            - USE_SCHEMA
            - SELECT
            - CREATE_TABLE
            - MODIFY
            - MANAGE
